@font-face {
  font-family: "Objective";
  src: url('../fonts/Objective_OTF/Objective-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Objective-Bold";
  src: url('../fonts/Objective_OTF/Objective-ExtraBold.otf');
  font-weight: normal;
  font-style: bold;
}

.card-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}
.card {
  display: grid;
}
.card .button {
  align-self: end;
}


/* Simple Card styles for prettying */

html {
  font-size: 16px;
  color: rgb(0, 157, 255);
}

body {
  background-color: #efefef;
}
* {
  box-sizing: border-box;
}
.card {
  background-color: rgb(235, 235, 235);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__title {
  font-size: 2rem;
  color: rgb(0, 0, 0);

}
.card__description {
  color: rgb(156, 156, 156);
  line-height: 1.6em;
}
.button {
  display: block;
  background-color: rgb(65, 99, 193);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-out;
}
img {
  max-width: 138%;
}

.card__thumbnail{
  display: flex;
  justify-content: center;
}
