
table{
    text-align: center;
    border: 2px;
    border-color: black;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
}

.footer_cart{
    text-align: center;
    width: 120px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
}

th{
    padding: 15px 15px 15px;
}

td{
    padding: 15px 15px 15px;
}

.remove{
    color: rgb(226, 69, 69);
}