
.btn-back {
  display: block;
  background-color: rgb(138, 138, 138);
  border-radius: 15px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-out;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration:none;
}

.card {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 94%;
  height: 70%;
}

.container {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 35% 12% 12% 12%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    "."
    ".";
}


.card img {
  height: 80%;
  margin-right: 20px;
  width: 80%;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.card h2 {
  font-size: 24px;
  margin: 0;
}

.card p {
  font-size: 16px;
  margin: 0 0 10px;
  padding: 1em;
}

.card strong {
  font-size: 18px;
  text-align: right;
}

.btn-delete {
  background-color: #ff1100;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: auto;
  padding: 10px 20px 10px;
  align-self: flex-end;
  text-decoration:none;
}

.btn-update {
  background-color: #ffb700;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: auto;
  padding: 10px 20px 10px;
  align-self: flex-end;
  float: right;
  text-decoration:none;
  margin-right: 10px;
}

.btn-buy {
  background-color: #00b7ff;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: auto;
  padding: 10px 20px 10px;
  align-self: flex-end;
  float: right;
  text-decoration:none;
  margin-right: 10px;
}

.container h2{
  color: #000000;
  background-color: rgb(240, 240, 240);
  width: 300px;
  height: 50px;
  font-size: 38px;
  text-align: center;
  border-radius: 50px;
}

